$borderWidth: 2vh;
$buttonHeight: 4vh;
$displayBottomMargin: 2vh;
$height: 80vh;
$margin: 2vh;
$padding: 5vh;
$width: 50vh;

.button {
  background-color: #343638;
  box-shadow: 0 8px 2px black;
  color: white;
  font-size: 2vh;
  height: $buttonHeight;
  margin: $margin;
  width: ($width - 2 * ($borderWidth + $padding + 3 * $margin)) / 3;
}

.button:hover {
  box-shadow: 0 4px 2px black;
}

.calculator {
  width: $width;
  margin: (100vh - $height) / 2 auto;
  padding: $padding;
  height: $height;
  background-color: #343638;
  border: $borderWidth solid #262626;
  border-radius: 20px;
}

.display {
  background-color: #64705a;
  border-radius: 5px;
  height: $height - $displayBottomMargin - 2 * ($borderWidth + $padding) - 6 *
    $buttonHeight - 12 * $margin;
  margin: 0 auto $displayBottomMargin;
  padding: 2vh;
  width: $width - 2 * ($borderWidth + $padding);
}

.displayText {
  font-family: monospace;
  font-size: 4vh;
  word-wrap: break-word;
}
